body
{
    margin: 0px;
    color: #808080; /*color:#9BAF3F;green */
    font-family: Arial;
    font-size: 14px;
}
a
{
    text-decoration: none;
    color: #4f647c; 
}
img
{
    border-style: none;
}
.Footer
{
    text-align: center;
    font-size: 14px;
    padding-top: 5px;
}
.FooterTitle
{
}
FooterTitle::-moz-selection
{
    background: Blue;
    color: Gray;
}

FooterTitle::selection
{
    background: Blue;
    color: Gray;
}
.Numbers
{
    font-size: 12px;
    color:#383838;
}
.Logo
{
    float: right;
    padding-left: 15px;
}
/************* Menu *****************/
.Menu
{
    width: 900px;
    height: 65px;
    direction: rtl;
    margin-bottom: 3px;
}
.MenuElement
{
    padding-top: 45px;
    float: right;
}

.MenuLink
{
    
    font-size: 16px;
    font-weight: bold;
}
.Black
{
    color: Black;
}
.Border
{
    border: 1px solid #CECECE;
}
.Content
{
    width: 900px;
    height: 495px;
    border: solid 1px #CECECE;
}
.Show
{
    display: inherit;
}
.Hide
{
    display: none;
}
.ProgressBar
{
    text-align: center;
    direction: rtl;
    position: absolute;
    left: 50%;
    top: 50%;
    border: solid 2px grey;
    width: 90px;
    height: 25px;
    color: Gray;
}

.Border
{
    border: 1px solid gray;
    padding: 1px;
    margin: 3px;
}





.LinkButtton
{
    cursor: hand;
    cursor: pointer;
    margin: 12px 0 12px 0;
    text-align: center;
}



/******************** Video *********************/

.Video
{
    direction: rtl;
    padding: 20px;
}
.VideoThumbnails
{
    float: right;
    margin: 0px 50px 0px 50px;
}
.VideoThumbnail
{
    width: 77px;
    height: 60px;
    margin-bottom: 6px;
    border: solid 1px;
    cursor: pointer;
    cursor: hand;
}
.VideoThumbnailSelected
{
    margin-bottom: 4px !important;
    border: solid 2px gray !important;
}
.VideoContainer
{
    float: right;
    margin: 1px;
}


/******************** Img Gallery *********************/

.ImgGalleryMainTable
{
    width: 890px;
    margin: 0px auto;
    padding-top: 5px;
    padding-bottom: 5px;
}
.ClickableImage
{
    cursor: pointer;
    cursor: hand;
    margin: 2px;
}
.SelectedImg
{
    border: solid 2px gray;
    margin: 0px;
}

.TDLink
{
    padding: 0px;
}


.ScrollersContainer
{
    width: 79px;
    padding: 11px 0 0 1px;
    margin: 0 auto;
}
.Scroller
{
    display: block;
    cursor: hand;
    cursor: pointer;
    margin: 0px auto;
    height: 17px;
    width: 15px;
   
}

.ImgSkipper
{
}
.ThumbnailsTableContainer
{
    height: 388px;
    width: 128px;
    margin: 0px auto;
    overflow: hidden;
}
.DisplayedImageContainer
{
    width: 694px;
    height:464px;
    border: solid 1px #CECECE;
    float:left;
}
.DisplayedImage
{
margin:2px;
display:block;
}




/******************** no selection styles *********************/




/*::-moz-selection
{
    background: White;
    color: Gray;
}

::selection
{
    background: White;
    color: Gray;
}

code::-moz-selection
{
    background: #333333;
}

code::selection
{
    background: #333333;
}
*/

/******************** Day Flow styles *********************/

.DayFlowTitle
{
    font-weight: bold;
    display: block;
    font-size: 16px;
}
.DayFlow
{
    padding: 15px;
    padding-right:35px;
}

.TextContainer
{
    margin: 0px auto;
    text-align: right;
    line-height: 20px;
}

/************* Main styles *****************/

.CycledImageContainer
{
    position: relative;
    width:898px;
    height:493px;
    margin: 1px;
}

.TextContainerFrame
{
    border: 1px solid #CECECE;
    margin: 150px auto 0;
    width: 400px;
    height: 190px;
    font-size: 16px;
}
