<?xml version="1.0" encoding="UTF-8"?>
<!-- 
    Note: As an alternative to hand editing this file you can use the 
    web admin tool to configure settings for your application. Use
    the Website->Asp.Net Configuration option in Visual Studio.
    A full list of settings and comments can be found in 
    machine.config.comments usually located in 
    \Windows\Microsoft.Net\Framework\v2.x\Config 
-->
<configuration>
  <appSettings />
  <connectionStrings />
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <!--<authentication mode="Windows"/>-->
    <authentication mode="Forms">
      <forms name=".ASPXFORMSAUTH" loginUrl="~/Main.aspx" />
    </authentication>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <customErrors mode="Off" />

    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID" />
    <httpRuntime requestValidationMode="2.0" />
    <membership defaultProvider="CustomMembershipProvider">
      <providers>
        <clear />
        <add name="CustomMembershipProvider" type="CustomMembershipProvider" />
      </providers>
    </membership>
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <rewrite>
      <rules>

        <rule name="Imported Rule 1" stopProcessing="true">
          <match url="^.*$" />
          <conditions logicalGrouping="MatchAny">
            <add input="{REQUEST_FILENAME}" matchType="IsFile" pattern="" ignoreCase="false" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" pattern="" ignoreCase="false" />
          </conditions>
          <action type="None" />
        </rule>
       
        <rule name="Redirect2">
          <match url="main" />
          <action type="Rewrite" url="/Pages/Main.aspx" redirectType="Found" />
        </rule>
        <rule name="Redirect3">
          <match url="Imagegallery/modest" />
          <action type="Rewrite" url="/Pages/ImageGallery.aspx?Category=Modest" redirectType="Found" />
        </rule>
        <rule name="Redirect4">
          <match url="imagegallery" />
          <action type="Rewrite" url="/Pages/ImageGallery.aspx" redirectType="Found" />
        </rule>
        <rule name="Redirect5">
          <match url="imagegallery/common" />
          <action type="Rewrite" url="/Pages/ImageGallery.aspx" redirectType="Found" />
        </rule>
        <rule name="Redirect6">
          <match url="VideoGallery" />
          <action type="Rewrite" url="/Pages/VideoGallery.aspx" redirectType="Found" />
        </rule>
        <rule name="Redirect8">
          <match url="DayFlowSelection/Modest" />
          <action type="Rewrite" url="/Pages/DayFlowModest.aspx" redirectType="Found" />
        </rule>
        <rule name="Redirect9">
          <match url="DayFlowSelection/Common" />
          <action type="Rewrite" url="/Pages/DayFlowCommon.aspx" redirectType="Found" />
        </rule>
        <rule name="Redirect7">
          <match url="DayFlowSelection" />
          <action type="Rewrite" url="/Pages/DayFlowSelection.aspx" redirectType="Found" />
        </rule>
      
        <rule name="Redirect10">
          <match url="About" />
          <action type="Rewrite" url="/Pages/About.aspx" redirectType="Found" />
        </rule>
        <rule name="Redirect11">
          <match url="FacebookLinks" />
          <action type="Rewrite" url="Pages/FacebookLinks.aspx" redirectType="Found" />
        </rule>
        <rule name="Redirect12">
          <match url="Files" />
          <action type="Rewrite" url="Pages/Files.aspx" redirectType="Found" />
        </rule>
        <rule name="Redirect13">
          <match url="Login" />
          <action type="Rewrite" url="Pages/Login.aspx" redirectType="Found" />
        </rule>
      </rules>
    </rewrite>
        <directoryBrowse enabled="false" />
        <defaultDocument>
            <files>
                <clear />
                <add value="Pages/Main.aspx" />
            </files>
        </defaultDocument>
        <httpErrors errorMode="Detailed" existingResponse="PassThrough" />
  </system.webServer>

</configuration>