
.menu
{
  font-size: 62.5%;
}
label, input
{
  display: block;
}
div.text
{
  /*margin-bottom: 12px;*/
  width: 95%;
  padding: .4em;
}
fieldset
{
  padding: 0;
  border: 0;
  margin-top: 5px;
}
h1
{
  font-size: 1.2em;
  margin: .6em 0;
}
div#users-contain
{
  width: 350px;
  margin: 20px 0;
}
div#users-contain table
{
  margin: 1em 0;
  border-collapse: collapse;
  width: 100%;
}
div#users-contain table td, div#users-contain table th
{
  border: 1px solid #eee;
  padding: .6em 10px;
  text-align: left;
}
.ui-dialog .ui-state-error
{
  padding: .3em;
}
.validateTips
{
  border: 1px solid transparent;
  padding: 0.3em;
  margin: 0;
}
div#dialog-form
{
  direction: rtl;
}
.ui-dialog-buttonset
{
  float: left !important;
}
.ajax_loader
{
  position: absolute;
  z-index: 2000;
  display: none;
  background-color: White;
  border-radius: 4px 4px 4px 4px;
  border: 1px solid #DDDDDD;
  width: 130px;
}
.ajax_loader_img
{
  width: 70px;
  margin: 0 auto;
  display: block;
  background-image: url('../../Images/ajax-loader_white.gif');
  background-repeat: no-repeat;
  background-position: 0 3px;
}

.btnEdit
{
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: hand;
  cursor: pointer;
}
.btnSave
{
  position: absolute;
  top: -13px;
  right: 4px;
}
.ExistingImgPreview
{
  width: 80px;
  height:45px;
}
.ui-dialog-titlebar-close
{
  right:auto;
  left:0.3em;
}

.ui-dialog-title
{
  float:right!important;
  margin:0.1em 0 0.1em 16px!important;
}